#xeAdmin .siteName {color:#005989;}
#xeAdmin .date {font:11px Tahoma; color:#767676;}

#xeAdmin .waiting {color:#c9bd00;}
#xeAdmin .accepted {color:#08830B;}
#xeAdmin .denied {color:#f42126;}
#xeAdmin .notReaded {background-color:#FFFFC0}

.allianceMessage {font-weight:normal; font-size:14px;}

.recentlyMessages {font-size:14px;}
.recentlyMessages,
.recentlyMessages li {margin:0; padding:0;}
.recentlyMessages li {padding:0 0 0 10px; background:url(../img/bullet.jpg) no-repeat 2px 7px; list-style:none; line-height:1.5; }
.recentlyMessages .date {font-size:14px !important;}

.devideLine { display:block !important; }